body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .slick-slider {
  width: 300px;
  display: flex;
} */
.slick-track {
  width: max-content !important;
}

.slick-slide {
  margin: 16px;
}

/* .slick-slide.slick-active {
  opacity: 0.6;
}

.slick-slide.slick-active.slick-current {
  opacity: 1;
} */

.slick-arrow {
  display: none !important;
}